
body{
    background-image: url(image/主背景2.png);
    background-repeat: repeat;
    background-size:100%;
    background-position:0px 0px;
}

@font-face {
    font-family: handwrite;
    src: url('Skinny-Regular.otf');}

.navbar
{
    height: 80px;
    background-image: url(image/footer.png);
    background-size:auto 895px;
    font-family: handwrite;
    font-size: 64px;
    font-weight: 900;
}
.nav-item
{
    font-family: handwrite;
    font-size: 60px;
    font-weight: 900;
    padding-top: 15px;
}
.navlogo{
    width: 120px;
    padding-left: 30px;
    padding-top: 15px;
}
.nav-form
{
    font-family: handwrite;
    font-size: 24px;
    font-weight: 500;
    padding:5px;
    margin-right: 20px;
}
h1
{
    font-family: handwrite;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
}
h2
{
    font-family: handwrite;
    font-size: 80px;
    font-weight: 900;
    margin-top: 30px;
    text-align: center;
}
h3
{
    font-family: handwrite;
    font-size: 32px;
    font-weight: 600;
}
.imagesize
{
    width: 900px ;
    margin-left: 20px;
}
li a:hover
{
    color: aliceblue !important;
}
@media(max-width:600px) 
{
    nav{
        height: auto;
    }   
}
footer
{
    height: 70px;
}
.sidenav
{
    background-color:black;
    height: 700px;
    width: 370px;
    margin-left: 50px;
    margin-top: 250px;
}
.navbar-toggler
{
    margin-top: 0px;
}

.book-image
{
    height: 150px;
    width: 150px;
}
.card
{
    background-color: white;
    height: 450px;
    border-bottom-left-radius:20% ;
    border-bottom-right-radius:20% ;
    margin: 10px;
}
.banner-image1
{
    background-image: url(image/stairs-g757148c6f_1920.jpg);
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-image2
{
    background-image: url(image/pexels-seven-2420585.jpg);
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn2
{
    width: 200px;
    border: none;
    color: gray;
    background-color:white;
    position: absolute;
    right: 60px;
    bottom: 10px;
    font-size:medium !important;
}
.btn2:hover{
    background-color: white;
    color: black;
}
.image-me
{
    height: 300px;
    clip-path: circle();
    margin-top: 20px;
}
.icon
{
    height: 50px;
    width: 50px;
    margin-left: 60px;
}
.btn1
{
    width: 200px;
    border:2px solid black;
    color: gray;
    background-color: white;
    margin-top: 20px;
    margin-left: 370px;
    font-size:large !important;
}
.btn1:hover
{
    background-color: black;
}
.dropdown-item
{
    font-family: handwrite;
    font-size: 30px !important;
    font-weight: 500;  
}
.dropdown-item:hover
{
    background-color:black;
    color: white !important;
}
.navbar-nav li:hover>ul.dropdown-menu
{
    display:block;
}
.igimage
{
    width: 160px;
    height: 140px;
    padding: 5px;
}

.video
{
    width: 600px;
    height: 338px;
    margin-left: 170px;
    box-shadow: 7px 7px 3px;
}
hr
{
    border: 0;
    border-bottom: 5px solid black;
}
footer
{
    height: 80px;
    padding-top: 10px;
    background-image: url(image/footer.png);
    background-size: 100%;
    text-align: center;
}
.nav-link
{
    margin-left: 20px;
}
.nav-link:hover{
    
    color:black !important;
    text-shadow: 0.05em 0.05em 0.05em gray;
}
.navbar-nav
{
    margin-left: 40px;
}
.camera
{
    height: 80px;
    position: absolute;
    top:105px;
    left:630px;
    animation-name: camera;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes camera
{
    
    0%{
        left: 50px;
    } 
    100%
    {
        transform: rotate(720deg);
        left: 630px;
    }
}
.video1
{
    height: 100px;
    position: absolute;
    top:1120px;
    left:570px;
    animation-name: video;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes video
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        left: 680px;
        transform: rotate(270deg);
    }
}
.videobg
{
    width: 1200px;
    height: 500px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-top: 30px;
    position: relative;
    z-index: -3;
}
.v1
{
    width: 500px;
    height: 282px;
    padding: 30px 10px 10px 30px;

}
.v2{
    width: 500px;
    height: 282px;
    position: absolute;
    right: 30px;
    top: 30px;
}
.note h2
{
    text-align: left;
}
.note p{
    padding-right: 100px;
}
.note{
    text-align: center;
    font-size: 48px;
}
.note1{
    border: solid 6px black;
    background-color: white;
    height: 250px;
    width: 600px;
    position: absolute;
    top: 150px;
    left: 470px;
    z-index: -1;
    padding-left: 20px;
    padding-right: 20px;
}
.dec1{
    background-color: black;
    height: 64px;
    width: 64px;
    position: absolute;
    top: 100px;
    right: 100px;
}
.dec2{
    background-color: black;
    height: 200px;
    width: 100px;
    position: absolute;
    top: 220px;
    left: 380px;
    z-index: -2;
}
.note2{
    border: solid 6px black;
    background-color: white;
    height: 250px;
    width: 600px;
    position: absolute;
    top: 170px;
    left: 100px;
    z-index: -1;
    padding-left: 20px;
    padding-right: 30px;
}
.dec3{
    background-color: black;
    height: 150px;
    width: 60px;
    position: absolute;
    top: 350px;
    right: 200px;
    z-index: -2;
}
.dec6{
    background-color: black;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 350px;
    left: 100px;
}
.dec7{
    background-color: black;
    height: 70px;
    width: 200px;
    position: absolute;
    top: 420px;
    right: 80px;
}
.dec8{
    background-color: black;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 160px;
    left: 90px;
}

.btnsearch{
    background-color: black;
    transition: 0.5s ease-in;
}
.btnsearch:hover{
    color: black;
    box-shadow: inset 100px 50px 50px 0px white;
}

.phand{
    width: 300px;
    height: 300px;
    margin-left: 27%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.phand2{
    width: 300px;
    height: 300px;
    margin-left: 18%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pre1{
    margin-top: 10px;
}
.card-content{
    padding-left: 10px;
    padding-right: 10px;
}