body{
    background-repeat:no-repeat;
    background-size:100%;
    background-position: 0;
}

@font-face {
    font-family: handwrite;
    src: url('Skinny-Regular.otf');}

.navbar
{
    height: 80px;
    background-image: url(image/footer.png);
    background-size:auto 895px;
    font-family: handwrite;
    font-size: 64px;
    font-weight: 900;
}
.nav-item
{
    font-family: handwrite;
    font-size: 60px;
    font-weight: 900;
    padding-top: 15px;
}
.navlogo{
    width: 120px;
    padding-left: 30px;
    padding-top: 15px;
}
.nav-form
{
    font-family: handwrite;
    font-size: 24px;
    font-weight: 500;
    padding:5px;
    margin-right: 20px;
}
h1
{
    font-size: 100px;
    font-weight: 900;
    text-align: center;
}
h2
{
    font-size: 60px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

.imagesize
{
    width: 900px ;
    margin-left: 20px;
}
li a:hover
{
    color: aliceblue !important;
}
@media(max-width:600px) 
{
    nav{
        height: auto;
    }   
}
footer
{
    height: 70px;
}
.sidenav
{
    background-color:rgb(138, 156, 172);
    height: 800px;
    width: 350px;
    margin-left: 50px;
    margin-top: 250px;
}
.navbar-toggler
{
    margin-top: 0px;
}

.book-image
{
    height: 150px;
    width: 150px;
}
.card
{
    background-color: white;
    height: 450px;
    border-bottom-left-radius:20% ;
    border-bottom-right-radius:20% ;
    margin: 10px;
}
.banner-image1
{
    background-image: url(image/stairs-g757148c6f_1920.jpg);
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-image2
{
    background-image: url(image/pexels-seven-2420585.jpg);
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn2
{
    width: 200px;
    border: none;
    color: gray;
    background-color:white;
    position: absolute;
    right: 60px;
    bottom: 10px;
    font-size:medium !important;
}
.btn2:hover{
    background-color: white;
    color: black;
}
.image-me
{
    height: 300px;
    clip-path: circle();
    margin-top: 20px;
}
.icon
{
    height: 50px;
    width: 50px;
    margin-left: 60px;
}
.btn1
{
    width: 200px;
    border:2px solid black;
    color: gray;
    background-color: white;
    margin-top: 20px;
    margin-left: 370px;
    font-size:x-large !important;
}
.btn1:hover
{
    background-color: black;
}
.dropdown-item
{
    font-family: handwrite;
    font-size: 30px !important;
    font-weight: 500;  
}
.dropdown-item:hover
{
    background-color:black;
    color: white !important;
}
.navbar-nav li:hover>ul.dropdown-menu
{
    display:block;
}
.igimage
{
    width: 160px;
    height: 140px;
    padding: 5px;
}
hr
{
    border: 0;
    border-bottom: 5px solid black;
}
footer
{
    height: 80px;
    padding-top: 10px;
    background-image: url(image/footer.png);
    background-size: 100%;
    text-align: center;
}
.nav-link
{
    margin-left: 20px;
}
.nav-link:hover{
    
    color:black !important;
    text-shadow: 0.05em 0.05em 0.05em gray;
}
.navbar-nav
{
    margin-left: 40px;
}
.btnsearch{
    background-color: black;
    transition: 0.5s ease-in;
}
.btnsearch:hover{
    color: black;
    box-shadow: inset 100px 50px 50px 0px white;
}
.project{
    height: 1200px;
    width: 900px;
    margin-left: 19%;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}
.image1
{
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image2
{
    width: 820px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image2-2{
    height: 300px;
    position: absolute;
    bottom: 50px;
    right: 7px;
}
.image2-3{
    height: 300px;
    position:absolute;
    top: 271px;
    left: 8px;
}
.image3{
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image3-2{
    height: 190px;
    width: 294px;
    position: absolute;
    left: 50px;
    top:342px;
}
.image3-3{
    width: 224px;
    position: absolute;
    right: 93px;
    top: 310px;
}
.image3-4{
    height: 230px;
    position: absolute;
    left: 115px;
    bottom: 253px;
}
.image3-5{
    height: 184px;
    position: absolute;
    right: 6px;
    bottom: 254px;
}
.pre1{
    margin-top: 10px;
}